<%- include('../partials/header') %>
<a href="/workouts/new">Add Workouts</a>
<table id="list">
    <thead>
      <tr>
        <th>Workout</th>
        <th>Date</th>
        <th>Exercise List</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% workouts.forEach(function(w) { %>
        <tr>
          <td><%= w.name %></td>
          <td><%= w.date.toLocaleDateString() %></td>
          <td><a href="/workouts/<%= w._id %>">Exercises</a></td>
          <td>
            <% if (user && user._id.equals(w.userId)) { %>
              <form action="/workouts/<%= w._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>